<style>

.container{
    position: relative;
    text-align: center;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }

    .lorem1{
      font-size: 1rem;
    }

    .penyo{
      font-size: 0.8rem;
    }

    .welcome{
      font-size: 1rem;
    }

    .edi-wow{
      font-size: 0.8rem;
    }

    .comers{
      height: auto;
    }

    .scroll-to-top {
      bottom: 10px;
      right: 10px;
      padding: 5px;
      font-size: 12px;
    }

   
}

nav{
    padding: 0%;
    width: 100%;
    top: 0;
    z-index: 100;
    position: fixed;
    font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
    transition: background-color 3s ease;

}

.scrolled{
    background-color: black !important;
}

nav ul{
    z-index: 1000;
}

/* .sidenav{
  background-color: black;
} */

.container-9{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-9 ul.right{
    display: flex;
    justify-content: space-around;
    width: 100%;list-style-type: none;
    /* text-align: center; */
    margin: 0;
    padding: 0;

}

.brand-logo{
    font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.responsive-img{
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.responsive-img:hover{
    transform: scale(1.1);
}

.responsive-img:active{
    transform: scale(1.1);
}

.potato{
    font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
    padding: 90px;
    text-align: center;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    padding: 10px;
    align-items: stretch;
}

.responsive-video-1{
    width: 100%;
    height: 500px;
    /* margin-right: 20px; */
    object-fit: cover;
}

.row-1 p{
    text-align: justify;
}

.parallax-container{
    padding: 50px;
}

.penyos{
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lorem1{
    font-size: xx-large;
    font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
    text-align: center;
    margin-bottom: 5px;
    margin: 0.5em 0;
}

.penyo{
    font-size: large;
    /* font-family: Copperplate, "Copperplate Gothic Light", sans-serif; */
    text-align: center;
    margin-top: 0;
}

.responsive-img-4{
    max-width: 100%;
    height: 85%;
    display: block;
    object-fit: cover;
    
}

.containerer{
    padding: 100px;
}

.drivers{
    font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}

.maxi{
    text-align: justify;
}

.comers{
    padding: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.logo{
    display: block;
    max-width: 100px;
    height: 10px;
    /* margin: 10px auto 0; */
    margin: 1rem 0;
    text-align: center;
}
.zoomable{
  transition: transform 0.5s;
}

.zoomable:hover{
  transform: scale(1.2);
}

.scroll-to-top{
  position: fixed;
  bottom: 20px;
  left: 50%;
  /* right: 20px; */
  transform: translateX(-50%);
  display: none;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border-radius: 10%;
  z-index: 9999;
}

.scroll-to-top:hover{
  background-color: black;
}

.page-footer{
  padding: 170px;
  background-color: transparent;
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}

.background-video{
  position: relative;
  overflow: hidden;
}

.background-video .bgcdawlods{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video .bgcdawlods video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-video .kontent {
  position: relative;
  z-index: 1;
}

.lumpia{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum{
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card{
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

  /* Add some styles for the checked card */
input:checked + label {
transform: scale(1.2); /* Increase the size of the selected card */
opacity: 1 !important;
}

input:checked + label .des {
opacity: 1 !important;
transform: translateY(0) !important;
}

.card:hover {
transform: scale(1.1); /* Increase the size of the card when hovered */
}

.responsive-img{
border: solid black;
}

h2{
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}


.card {
width: 25em;
height: 60%;
display: flex;
background-color: #181818;
border-radius: 2em;
box-shadow: 0 0 1em rgb(255, 255, 255);
padding: 2em 1em;
display: flex;
align-items: center;
flex-direction: column;
margin: 2em 10em;
margin-bottom: 4em;

}


.card__image{
width: 20em;
height: 20em;
border-radius: 50%;
border: 4px solid #aea16e;
padding: 3px;
margin-bottom: 2em;
}

.card__image img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
}

.card__content{
display: flex;
align-items: center;
flex-direction: column;
padding-bottom: 5px;
}

.card_title{
font-size: 1.5rem;
font-weight: 500;
position: relative;
/* top: .000em; */
padding-bottom: 10px;
}

.card__name{
color: #d1bf82;
font-size: 25px;
}

.card__text{
color: #fff;
text-align: center;
font-size: 1.1rem;
margin: 1em 0;
text-shadow: 0 0 .2em black;
}

.drums{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
/* margin-bottom: 2em; */
}

.welcome{
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}

.bedyu video {
position: relative;
max-width: 100%;
height: 1000px;
display: block;
}

.teks{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: red;
letter-spacing: 0.5rem;
text-align: center;
font-size: larger;
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
/* text-decoration: wavy; */
}

footer {
background-color: black;
padding: 20px;
}

.footer {
display: flex;
justify-content: center;
align-items: center;
}

.container-f {
max-width: 1200px;
margin: 0 auto;
}

.footer-bottom {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 10px;
margin-top: 10px;
}

.scroll-to-top {
display: inline-block;
background-color: transparent;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
transition: all 0.3s ease;
}

.scroll-to-top:hover {
background-color: #555;
}

.graham{
text-align: center;
letter-spacing: 0.5rem;
color: red;

}

.footer{
padding: 90px;
}

.weshall{
text-align: center;
color: rgb(185, 34, 34);
padding-top: 300px;
padding-bottom: 300px;
}

.image-container {
display: flex;
justify-content: space-between;
}

.carder {
flex: 1;
margin: 0 10px;
box-sizing: border-box;
padding: 0 15px;
display: inline-block;
background-color: #181818;
border-radius: 2em;
box-shadow: 0 0 1em rgb(255, 255, 255);
/* padding-top: 50px; */
}

.carder img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
padding-top: 10pxs;
}

.queen-card{
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}

h3{
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
color: red;
/* text-shadow: 0 0 5px #ff0000, 0 0 20px #ffffff, 0 0 30px #ffdbdb, 0 0 40px #ffffff; */
}

li .active{
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
/* color: red; */
text-shadow: 0 0 5px #ff0000, 0 0 20px #ffffff, 0 0 30px #ffdbdb, 0 0 40px #ffffff;
}

li .text-darken-4{
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
/* color: black; */
text-shadow: 0 0 5px #ff0000, 0 0 20px #ffffff, 0 0 30px #ffdbdb, 0 0 40px #ffffff;
}

.flow-text{
font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
color: red;
}

li .tab{
background-color: #181818;
}